.testimonial {
  padding: 10px;
  font-family: Arial, sans-serif;
}

.testimonial {
  background: purewhite;
  border: 1px solid lightgray;
  padding: 20px;
  margin-bottom: 20px;
}

.testimonial .author {
  text-align: right;
  margin-top: 10px;
  font-style: italic;
  color: black;
}
